.m9{
    
    margin-left:45%;
    margin-top:-40%;
}
.med{
    margin-left:4%;
    padding:20px;
}
.v{
    margin-top: 5%;
    display: flex;
}
.v1{
    margin-left: 2%;
    margin-top:2%;
}