body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  background-image: url("todo2.jpg");
  background-size: cover; /* Adjust as needed */
  background-position: inherit;/* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-right: inherit;
}

h1 {
  text-align: center;
}

.task-input {
  display: flex;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.add-task-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.task-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-header h2 {
  margin: 0;
}

.task-left-counts {
  font-weight: bold;
}

.task-box {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-box span {
  color: #888;
}

.clear-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color:black;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.overflow {
  max-height: 300px;
  overflow-y: auto;
}

.checked {
  text-decoration: line-through;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
}

.generate-image-btn,
.set-reminder-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

